# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

#PythonProj
.idea/*
__pycache__/*
*.cpython-38.pyc

# cotegory
model/saved/*
dataset/saved/train_user_problem_mat.csv